<template name="countdown">
  <div id="clockDiv" class="ui stackable grid">
    <div class="row">
      <div class="four wide column">
        <h5>Days</h5>
        <span class="days"></span>
      </div>
      <div class="four wide column">
        <h5>Hours</h5>
        <span class="hours"></span>
      </div>
      <div class="four wide column">
        <h5>Minutes</h5>
        <span class="minutes"></span>
      </div>
      <div class="four wide column">
        <h5>Seconds</h5>
        <span class="seconds"></span>
      </div>
  </div>
</div>
</template>
