<template name="displaySkills">
  <div class="ui center aligned container">
    <h3 id="skillsHeader" class="ui inverted header">Skills</h3>
    <div id="skillsDiv" class="ui inverted segment">
      <div class="ui red inverted indicating progress" data-percent={{creativity}} id="creativityBar">
        <h4 class="ui inverted header">Creativity</h4>
        <div class="bar">
          <div class="progress"></div>
        </div>
      </div>
<div class="ui orange inverted indicating progress" data-percent={{analytics}} id="analyticsBar">
  <h4 class="ui inverted header">Analytics</h4>
  <div class="bar">
    <div class="progress"></div>
  </div>
</div>
<div class="ui yellow inverted indicating progress" data-percent={{fitness}} id="fitnessBar">
  <h4 class="ui inverted header">Fitness</h4>
  <div class="bar">
    <div class="progress"></div>
  </div>
</div>
<div class="ui olive inverted indicating progress" data-percent={{research}} id="researchBar">
  <h4 class="ui inverted header">Research</h4>
  <div class="bar">
    <div class="progress"></div>
  </div>
</div>
<div class="ui green inverted indicating progress" data-percent={{communication}} id="communicationBar">
  <h4 class="ui inverted header">Communication</h4>
  <div class="bar">
    <div class="progress"></div>
  </div>
</div>
<div class="ui teal inverted indicating progress" data-percent={{problemSolving}} id="problemSolvingBar">
  <h4 class="ui inverted header">Problem Solving</h4>
  <div class="bar">
    <div class="progress"></div>
  </div>
</div>
<div class="ui blue inverted indicating progress" data-percent={{timeManagement}} id="timeManagementBar">
  <h4 class="ui inverted header">Time Management</h4>
  <div class="bar">
    <div class="progress"></div>
  </div>
</div>
<div class="ui violet inverted indicating progress" data-percent={{leadership}} id="leadershipBar">
  <h4 class="ui inverted header">Leadership</h4>
  <div class="bar">
    <div class="progress"></div>
  </div>
</div>
<div class="ui purple inverted indicating progress" data-percent={{selfMotivation}} id="selfMotivationBar">
  <h4 class="ui inverted header">Self Motivation</h4>
  <div class="bar">
    <div class="progress"></div>
  </div>
</div>
<div class="ui pink inverted indicating progress" data-percent={{teamwork}} id="teamworkBar">
  <h4 class="ui inverted header">Teamwork</h4>
  <div class="bar">
    <div class="progress"></div>
  </div>
</div>
<div class="ignored">
  <button id="skillsButton" class="ui inverted yellow button">Skills</button>
</div>
</div>
  </div>
</template>
