<template name="mainPage">
  <div id="mainPageDiv">
  {{>menu}}

  <div class="ui container">

    <!--<img class="ui large image" src="lion.png">-->
    <i id="helpIcon" class="ui huge red help circle icon"></i>
    <h3 id="firstHeader" class="ui center aligned blue header">What we are</h3>
    <div class="ui raised segment">
    <p id="firstParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <i id="infoIcon" class="ui huge orange info icon"></i>
    <!--<img class="ui large image" src="lion.png">-->
    <h3 id="secondHeader" class="ui center aligned blue header">What we do</h3>
    <div class="ui raised segment">
    <p id="secondParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

  </div>
</div>

</template>
