<template name="menu">
  <div id="mainPageMenu" class="ui pointing menu">
  <a class="item" href="mainPage">
    <h4 class="ui inverted teal header">Home</h4>
  </a>
  <a class="item">
    <h4 id="taskFeed" class="ui inverted teal header">Task Feed</h4>
  </a>
  <a class="item" href="/yourProfile">
    <h4 class="ui inverted teal header">Your Profile</h4>
  </a>
  <a class="item" href="/yourStats">
    <h4 class="ui inverted teal header">Your Stats</h4>
  </a>
  <a class="item" href="/tasks">
    <h4 class="ui inverted teal header">Tasks</h4>
  </a>
  <div class="right menu">
    <div class="item">
        <i class="ui red users icon"></i>
        <h6 class="ui inverted teal header">Roberto Chirila</h6>
    </div>
  </div>
</div>
</template>
