<template name="userProfileForm">
  <form id="profileForm" class="ui large form">
<div class="field">
  <label>First Name</label>
  <input id="firstName" type="text" name="firstName" placeholder={{firstName}}>
</div>
<div class="field">
  <label>Last Name</label>
  <input id="lastName" type="text" name="lastName" placeholder={{lastName}}>
</div>
<div class="field">
  <label>Age</label>
  <input id="age" type="text" name="age" placeholder={{age}}>
</div>
<div class="field">
  <label>Email</label>
  <input id="email" type="text" name="email" placeholder={{email}}>
</div>
<div class="field">
  <label>Country</label>
  <input id="country" type="text" name="country" placeholder={{country}}>
</div>
<div class="field">
  <label>Education</label>
  <input id="education" type="text" name="education" placeholder={{education}}>
</div>
<div class="field">
  <label>Quote</label>
  <input id="quote" type="text" name="quote" placeholder={{quote}}>
</div>
<div class="field">
  <label>About you</label>
  <input id="aboutYou" type="text" name="aboutYou" placeholder={{aboutYou}}>
</div>
<button id="submitProfileButton" class="ui toggle button active" type="submit">Submit</button>
<button id="editProfileButton" class="ui toggle red button" type="submit">Edit</button>
</form>
</template>
